@import "../../root-styles/variables.scss";

.messages {
    background-color: $color-light-white-items-select;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $color-light-grey;
    margin-bottom: 5px;
    padding: 5px;

    .message-text {
        color: $color-light-text;
        font-size: 90%;
    }
    span{
        font-size:80%;
    }
    .in-progress {
        background-color: $color-light-open-ticket !important;
        font-size:80%;
    }
}

.dark{
    .messages{
        background-color: $color-dark-grey;
        color: rgba($color-light-white, 0.1);
        .message-text{
            color: rgba($color-light-white, 0.8)
        }
    }
}