@import "../../root-styles/variables.scss";

.messages {
    background-color: $color-light-white-items-select;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $color-light-grey;
    margin-bottom: 5px;
    padding: 5px;

    .message-text {
        color: $color-light-text;
    }

    .in-progress {
        background-color: $color-light-open-ticket !important;
    }
}