@import "../../root-styles/variables.scss";


.events-layout{
    padding: 7rem 4rem;
    @media screen and (max-width: 993px) {
        padding: 7rem 7rem 0 1rem ;
    }
    @media screen and (max-width: 786px) {
        padding: 7rem 1rem;
    }

.c{
    display: flex;
    flex-direction: row;
    // justify-content: right;
    margin: 0 0 20px;
    .card-event{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 95%;
    .image-holder{
            background-color: grey;
            border-radius: 7px;
            width: 20rem;
            height: 7.5rem;
            margin: 0.3rem 0.3rem 0.3rem 0.7rem;
            position: relative;
            display: inline;
            img {
                width: 100%;
                height: 100%;
                border-radius: inherit;
                object-fit: fill;
                }
    }
    .other-detail-event{
        padding: 10px 5px;
        display: flex;
        flex-direction: column;
        justify-content: right;
        width: 100%;
        span{
            margin-bottom: 10px;
            font-weight: 300;
            font-size: 10pt;
        }
        span.date-red{
            color:red;
        }
        .title-and-date{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 10px;
            span{
                margin: 0;
                padding: 0;
                &:first-child{
                    font-weight: 600;
                    font-size: 13px;
                }
            }
            div{
                display: inline;
                width: fit-content;
                font-size: 11px;
                font-weight: 100;
                span{
                    &:first-child{
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    .button-holder{
        display: flex;
        flex-direction: row-reverse;
        .button-outline{
            width: fit-content;
            font-size: 12px;
            padding: 5px 16px;
            border-radius: 5px;
        }
    }
}
}
}