.backup-layout{
    padding: 8rem 5rem;
    @media screen and (max-width: 991px) {
        padding: 8rem 6rem 8rem 3rem;
    }

    @media screen and (max-width: 786px) {
        margin: 0;
        padding: 7rem 1rem;
    }
}