@import "../../root-styles/variables.scss";

.backup-layout{
    padding: 8rem 5rem;
    @media screen and (max-width: 991px) {
        padding: 8rem 6rem 8rem 3rem;
    }

    @media screen and (max-width: 786px) {
        margin: 0;
        padding: 7rem 1rem;
    }
    .backup-header{
        .content-in-Modal-back-up{
            .input-holder{
                width: 50%;
                @media screen and (max-width:769px) {
                    width: 100%;
                }
            }
            .help-text{
                font-size: 8pt;
                color: $color-light-grey;
                font-weight: 500;
            }
            fieldset.field-set{
                margin-bottom: 1.5rem;
                legend{
                    margin-bottom: 0;
                }
            }
        .input-file{
            display: inline-flex;
            align-items: center;
            width: 10rem;
            @media screen and (max-width:426px) {
                width: 90%;
                margin: 0 auto;
            }
            input#add-document{
                display: none;
            }
        }
        .attached-file {
            position: relative;
            border: 1px solid $color-light-text;
            border-radius: 10px;
            color: $color-light-grey;
            font-size: 9pt;
            @media screen and (max-width:426px) {
                width: 90%;
                margin: 0 auto 13px;
            }
            .cross-logo{
                position: absolute;
                right: -5px;
                top: -7px;
                .path{
                    position: relative;
                    z-index: -1;
                }
            }
        }
        }
    }
    table.table{
        .thead-backup{
            th.th-backup{
                width: 30%;
                text-align: center;
            }
            th.th-backup-2{
                width: 40%;
                text-align: right;
            }
        }
    }
    .chat{
        height: 648px;
        border-radius: 16px;
        .chat-messages-holder{
            overflow-y: auto;
            height: 85%;
            scroll-behavior: smooth;
            &::-webkit-scrollbar {
        /* Hide scrollbar for Chrome, Safari and Opera */
        display: none;
    }
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
            span{
                margin-bottom: 1rem;
                font-size: 8pt;
                color: rgba($color-light-grey, 0.6);
            }
            div.user-message{
                border-radius: 5px;
                
                color: $color-light-text;
                background-color: rgba($color-light-text, 0.05);
                max-width: 70%;
                height: fit-content;
        
            }
            div.support-team-message{
                border-radius: 5px;
                color: $color-light-text;
                background-color: rgba($color-light-orange, 0.09);
                max-width: 70%;
                height: fit-content;
        
            }
        }
        .typing-message{
            border-radius: 0 0  16px 16px;
            background-color: rgba($color-light-text, 0.05);
            .attach-file-logo{
                position: relative;
                width: 10%;
                align-items: center;
                display: flex;
                justify-content: center;
                .gh{
                    z-index: 0;
                }
            }
            input{
                width: 80%;
                background-color: transparent;
                border: none;
                outline: none;
            }
            .send-message{
                background-color: $color-light-text;
                color: #fff;
                border-radius: 0 0 0 16px;
            }
        }
    }
}