@import "../../root-styles/variables.scss";

.dashboard{
    .row{
        margin-bottom: 20px;
        .first-row {
            text-align: center;
            padding: 1rem 0.5rem;
            h5{
                margin-bottom: 10%;
            }
            span{
                font-size: 80%;
            }
        }
    .second-row{
        .message-holder{
            height: 10rem;
            overflow-y: scroll;
            }
        #tickets{
            .messages{
                span{
                    &:last-child{
                        padding: 0.1rem 0.4rem;
                        border-radius: inherit;
                        background-color: $color-light-closed-ticket;
                        color: $color-light-text;
                    }
                }
            }
        }
        }
    }
    .stock{
        border: 1px solid $color-light-orange;
        border-radius: 10px;
        padding: 0.9rem 0.5rem;
        font-size: 12px;
        margin-bottom: 2rem;
        span:first-child{
            text-align: right;
            word-break: break-all;
            margin-bottom: 10px;
            display: block;
        }
        span:last-child{
            text-align: left;
            word-break: break-all;
            display: block;
        }
    }
    .guide{
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {
    .col-4{
        &:last-child{
            display: none;
        }
    }
    .row{
        #notif{
                display: none;
        }
        
    }
    .row{
        #guide{
            display: none;
        }
        #wallet{
            display: none;
        }
    }
}