.dashboard{
    .row{
        margin-bottom: 20px;
        .detail {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            border-bottom: 1px solid gray;
            margin-bottom: 10px;
        }
        .first-row {
            text-align: center;
            padding: 1rem 0.5rem;
            h5{
                margin-bottom: 1rem;
            }
            span{
                font-size: 0.81rem;
            }
        }
    .second-row{
        .messages{
            background-color: #f0f0f0;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: grey;
            margin-bottom:  5px; 
            padding: 5px;
            .message-text {
                color: #0f0f0f
            }
        }
        }
    }
    .stock{
        border: 1px solid orange;
        border-radius: 10px;
        padding: 0.9rem 0.5rem;
        font-size: 12px;
        margin-bottom: 2rem;
        span:first-child{
            text-align: right;
            word-break: break-all;
            margin-bottom: 10px;
            display: block;
        }
        span:last-child{
            text-align: left;
            word-break: break-all;
            display: block;
        }
    }
    .guide{
        font-size: 12px;
    }
}
