@import "./variables.scss";

.button {
    background-color: $color-light-orange;
    color: $color-light-white;
    text-align: center;
    
    padding: 0.7rem 0.8rem;
    border-radius: 8px;
    &:hover{
        cursor: pointer;
    }
}

.button-gray-fill {
    background-color: $color-light-grey;
    color: $color-light-white;
    text-align: center;
    
    padding: 0.7rem 0.8rem;
    border-radius: 8px;
    &:hover{
        cursor: pointer;
    }
}

.button-outline{
  
    padding: 0.7rem 0.8rem;
  border: 1px solid $color-light-grey;
  color: $color-light-grey;
  border-radius: 8px;
  &:hover{
    background-color: $color-light-grey;
    color: $color-light-white;
    cursor: pointer;
  }
}


.dark{
    .button{
        background-color: $color-dark-orange;
        color: rgba($color-light-text,0.88);
    }
}