//COLORS

$color-light-white: #fff ;
$color-light-dark-white: #f0f0f0;
$color-light-white-items-select: #F7F7FA;

$color-dark-body-background: #000;
$color-dark-text: #fff;

$color-light-orange: #EFA00B;

$color-light-grey: #707070;
$color-light-text: #372C51;

$color-light-open-ticket: #BFBEDC;
$color-light-closed-ticket: #E2E3E5;