@import "../../root-styles/variables.scss";


.disable{
  background-color: rgba($color-light-text, 0.1) !important;
  &:hover {
    border-color: rgba($color-light-grey, 0.5) !important;
  }
}

.field-set {
  width: 100%;
  padding: 0 15px 15px 15px;
  border-radius: 5px;
  border: 2px solid rgba($color-light-grey, 0.5);
  background-color: transparent;
  &:hover{
    border-color: orange;
  }
  &:focus-within {
    border-color: orange;
    background-color: #fff;
  }
  .legend {
    float: none;
    text-align: right;
    padding: 0 10px;
    margin-right: 5px;
    width: fit-content;
    font-size: 10pt;
    color:rgba($color-light-grey, 0.9)
  }
  input {
    width: 95%;
    text-align: right;
    font-size: 12pt;
    border: none;
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
  .pencil{
    position: absolute;
    top: 8px;
    &:hover{
      cursor: pointer;
    }
  }
  .drop-down-city-country{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
  }
  textarea{
    border: none;
    outline: none;
    background-color: transparent;
    resize: none;
    width: 100%;
  }
}

