@import "../../../../root-styles/variables.scss";

.change-password{
    margin: 7.5rem 0 0 0;
    .change-password-form{
        width: 50vw;
        @media screen and (max-width: 769px) {
            width: 70vw;
        }
        .settings-detail{
            font-size: 17px;
            margin-bottom: 1.5rem;
        }
        .field-holder{
            display: flex;
            flex-direction: column;
            width: 100%;
            fieldset{
                margin-bottom: 1rem;
    
            }
            ul{
                margin-top: 1rem;
                color: gray;
                padding: 0 20px 0 0 0;
                li{
                    font-size: 15px;
    
                }
            }
            p{
                display: inline-block;
                color: gray;
                span{
                    a{
                        text-decoration: none;
                        color: red;
                        font-weight: 800;
                    }
                }
            }
            .change-password-button{
                width: 10rem;
                margin: 0 auto;
            }
    
        }
    
        .change-password-modal{
            padding: 10% 0;
            .otp-change-password-card{
                padding: 2rem 3rem !important;
                 @media screen and (max-width: 537px) {
                        padding: 1rem !important;
                    }
            }
            .card-enter-mobile{
                    padding: 4rem 3rem;
                    @media screen and (max-width: 537px) {
                        padding: 4rem 1rem;
                    }
                    fieldset.field-set{
                        margin: 0 0 20px 0;
                    }
                    p{
                        font-size: 12px;
                        color: rgba($color-light-grey , 0.7);
                        span{
                            font-size: 12px;
                            font-weight: 700;
                            color: $color-light-orange;
                            &:hover{
                                cursor: pointer;
                                text-shadow: lightcoral;
                            }
                        }
                    }
                    span.progress-bar-otp{
                        background-color: rgba($color-light-grey , 0.1);
                        height: 0.2rem;
                        padding: 0;
                        
                        border-radius: 10px;
                        width: 100%;
                        position: relative;
                        margin: 0 0 1.5rem 0;
                        span.progress-bar-otp-orange{
                            left: 0;
                            position: absolute;
                            height: inherit;
                            border-radius: inherit;
                            background-color: $color-light-orange;
                        }
                    }
                    .resend{
                        background-color: #f0f0f0;
                    }
            }
        }
    }
    .change-password-logo{
        margin-right: 5rem;
        width: 60vw;
        @media screen and (max-width: 769px) {
            margin-right: 0;
            margin-top: 5rem;
        }
    }
}