@import "../../../../root-styles/variables.scss";

.input {
    width: 45%;

    @media screen and (max-width:769px) {
        width: 100%;
    }

    fieldset.field-set {
        margin-bottom: 0.8rem;
    }

    div.button.button-size {
        width: 40%;
        padding: 0;
        font-size: 1rem;
        font-weight: 300;
        height: 59px;
        align-items: center;
        justify-content: center;
        display: flex;
        align-content: center;

        @media screen and (max-width: 426px) {
            padding: 0.5rem 0;
        }
    }
}

.status-and-others {
    .top {
        .choose-cover-for-live {
            background-color: rgba($color-light-orange, 0.1);
            border-radius: 10px;
            width: 100%;
            height: 13rem;
            background-size: cover;
            background-position: center;

            span {
                font-size: 10pt;
            }

            input[type="file"] {
                display: none;
            }

            .choose-picture {
                background-color: $color-light-text;
                width: fit-content;
                border-radius: 5px;
                padding: 0.6rem 1.6rem;
                color: #fff;
                font-weight: 300;
                font-size: 11pt;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.text-area-row {
    fieldset.field-set {
        margin-bottom: 1rem;
    }
}