@import "../../../root-styles/variables.scss";

.payment{
    .table{
        thead{
            .th-holder{
                border-radius: 17px;
                text-align: center;
                th{
                    font-size: 90%;
                    font-weight: 500;
                    width: 40%;
                    color: $color-light-grey;
                }
                &:hover {
                    background-color: inherit ;
                }
            }
            th.button {
                font-size: 90%;
                font-weight: 300;
            }
        }
    }
    tbody{
        tr{
            width: 75%;
        }
    }
}