@import "../../../root-styles/variables.scss";

.payment{
    .table{
        thead{
            .th-holder{
                border-radius: 17px;
                text-align: center;
                width: 75%;
                @media screen and (max-width: 578px) {
                    width: 100%
                }
                th{
                    font-size: 90%;
                    font-weight: 500;
                    width: 40%;
                    color: $color-light-grey;
                }
                &:hover {
                    background-color: inherit ;
                }
            }
            th.button {
                font-size: 90%;
                font-weight: 300;
                @media screen and (max-width: 578px) {
                    position: fixed;
                    bottom: 8%;
                    margin: 0 10%;
                    z-index: 9;
                }
            }
        }
    }
    tbody{
        tr{
            width: 75%;
            @media screen and (max-width: 578px) {
                width: 100%
            }
        }
    }
}