.table {
    .tasfie-details-head {
        thead.card {
            border-radius: 17px;
            width: 80%;
            th {
                font-size: 12px;
                font-weight: 500;
            }
        }
    }
    tbody {
        tr {
            width: 80%;
        }
    }
}