div.dating{
    fieldset{
        width: 49% !important;
    }
}

.new-ticket-discount{
    padding: 6% 0;
    .input-and-header{
        margin: 0 auto 0 0;
        width: 50%;
        
        @media screen and (max-width: 768px) {
            margin: 0 0 0 0;
            width: 100%;
        }
    }
}