@import "../../../root-styles/variables.scss";

.tasfie {
    .table {
        thead {
            .th-holder {
                border-radius: 17px;
                text-align: center;
                width: 84%;
                @media screen and (max-width: 646px) {
                    width: 100%
                }
                th {
                    &:not(last-child){
                        font-size: 70%;
                        font-weight: 500;
                        width: 40%;
                        color: $color-light-grey;
                    }
                }
                &:hover {
                    background-color: inherit;
                }
            }
            th.button {
                width: 15%;
                font-size: 70%;
                font-weight: 300;
                @media screen and (max-width: 646px) {
                    position: fixed;
                    margin: 0 30%;
                    bottom: 8%;
                    z-index: 9;
                    width: 35%;
                }
            }
        }
    }
    tbody.ss{
        height:68vh;
        .tr-holder-s{
            width: 83%;
            @media screen and (max-width: 646px) {
                width: 100%
            }
            tr{
                width: 100%;
            }
        }
    }
    .tasfie-modal{
        font-size: 100%;
        div.card{
                width: 20rem;
                height: 19rem;
                padding: 2.5rem 1rem;
                left: 2rem;
                @media screen and (max-width: 768px) {
                    left:0
                }
            
            h6{
                margin-bottom: 1rem;
                font-weight: 400;
                font-size: 100%
            }
            span{
                font-weight: 300;
                font-size: 8pt;
            }
            div.button{
                font-size: 10pt;
            }
        }
    }
}