.tasfie{
    .table{
        .tasfie-details-head{
            thead.card{
                border-radius: 17px;
                th{
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }
    }
    tbody{
        tr{
            width: 75%;
        }
    }
}