@import "../../root-styles/variables.scss";

tr.sv {
    border-color: rgba(grey, 0.4);
    td {
        padding: 0.5rem 0.5rem;
        font-size: 80%;
        font-weight: 500;
        width: 40%;
        text-align: center;
    }
    &:hover{
        background-color: rgba($color-light-orange, 0.2) !important;
        cursor: pointer;
    }
}