
.tasfie{
    .row{
        .c{
            div.card{
                h6{
                    font-weight: bold;
                    font-size: 10pt;
                }
                span{
                    font-weight: bold;
                    font-size: 11pt;
                }
            }
        }
    }    
}