@import "../../root-styles/variables.scss";

.card-grid{
    margin-bottom: 1rem;
        .card-video{
        border-radius: 10px;
        padding: 0.6rem;
        font-weight: 300;
        font-size: 14px;
        max-width: 301.5px;
        max-height: 334px;
        .image{
            background-color: grey;
            position: relative;
            height: 9.5rem;
            border-radius: 15px;
            
                
                .play-all{
                    position: absolute;
                    top: 0;
                    z-index: 20;
                    height: inherit;
                    width: 100%;
                    border-radius: inherit;
                    background-color: rgba(0,0,0, 0.6);
                    color: $color-light-white;
                    display: flex;
                    text-align: center;
                    flex-direction: column;
                    justify-content: center;
                    cursor: pointer;
                    .play-logo{
                        margin-left: 5px;
                    }
                }
            
            
            .time{
                position: absolute;
                bottom: 10px;
                left: 15px;
                color: #fff;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 100;
                font-size: 14px;
            }
        }
        .title-video{
            margin: 6px 0;
            font-size: 18px;
            span{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0;
            }
        }
        .cost{
            
            color: red;
            margin-bottom: 6px;
        }
        .date-created{
            margin-bottom: 6px;
        }
        .published{
            margin-bottom: 6px;
            span{
                &:first-child{
                    margin-left: 1rem;
                }
            }
        }
        .views-likes-etc{
            width: 80%;
            display: flex;
            justify-content: space-between;
            word-break: break-all;
            span{
                .logo{
                    margin-left: 2px;
                }
            }
        }
        div.views-likes-etc.after{
            &::after{
                    content: " ";
                    position: absolute;
                    width: 91%;
                    right: 13px;
                    /* border-radius: 10px; */
                    height: 26px;
                    border-bottom: 1px solid rgba($color-light-grey, 0.4);
            }
        }
        .cost-and-detail-course{
            margin: 12px 0 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .watch-green{
                color: green;
                .watch-logo{
                    margin-left: 5px;
                    #Path_70839,
                    #Path_70840{
                        fill:green;
                    }
                }
            }
            .watch-default{
                color: $color-light-grey;
                .watch-logo{
                    margin-left: 5px;
                }
            }
        }
        .cost-course{
            margin-bottom: 0;
            color: red;
        }
    }
}