.finance-page{
    padding: 7rem 4rem;

    @media screen and (max-width: 993px) {
        padding: 7rem 7rem 0 1rem;
    }

    @media screen and (max-width: 786px) {
        padding: 7rem 1rem;
    }
}