@import "../../root-styles/variables.scss";


.followers-layout{
    padding: 10rem 5rem;
    @media screen and (max-width: 991px) {
        padding: 8rem 6rem 8rem 3rem;
        }
        @media screen and (max-width: 786px){
            margin: 0;
            padding: 7rem 1rem;
            .follower-logo-holder{
                display: none;
            }
        }
    .main-holder{
        width: 50%;
        @media screen and (max-width: 768px) {
            width: 95%;
        }
    }
    .search{
        border-radius: 15px;
        width: 100%;
        .search-box{
            input{
                width: 80%;
                outline: none;
                font-size: 10pt;
                &::-webkit-input-placeholder{
                    color: rgba($color-light-grey, 0.5);
                }
            }
        }
    }
}

