@import "../../root-styles/variables.scss";

.detail-holder{
    border-bottom: 2px dashed $color-light-grey;
    .detail-holder-number{
        h5{
            font-size: 100%;
            font-weight: 400;
        }
        p{
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 100%;
            font-weight: 300;
            span{
                display: flex;
                flex-direction: row;
                align-items: center;
                @media screen and (max-width:426px) {
                    font-size: 80%;
                }
                &:first-child{
                    &::after{
                        content: " ";
                        background-color: $color-light-grey;
                        border-radius: 100%;
                        height: 0.4rem;
                        width: 0.4rem;
                        display: block;
                        margin: 0 5px;
                    }
                }
            }
        }
    }
    .image-holder{
        width: 5rem;
        height: 5rem;
        border-radius: 100%;
        img{
            width: 100%;
            height: 100%;
            border-radius: inherit;
                object-fit: cover;
    object-position: center
        }
    }
    .button{
        font-size: 100%;
        @media screen and (max-width:426px) {
            font-size: 80%;
        }
        font-weight: 400;
    }

    .button-outline{
        text-align:center;
        font-size: 100%;
        @media screen and (max-width:426px) {
            font-size: 80%;
        }
        font-weight: 400;
        &:hover{
            .checked-logo{
                g{
                    path{
                        fill: #fff;
                    }
                }
            }
        }
    }
}
