@import "../../../root-styles/variables.scss";

.tabs{
    header{
    color: $color-light-grey;
    font-style: inherit;
    background-color: inherit;
    box-shadow: none;
    width: 300px;
    .tab-list{
                    background-color: $color-light-dark-white;
                    width: 302px;
                    .MuiTabs-scroller{
                        width: 177px;
                        .MuiTabs-flexContainer{
                            width: 303px;
                            button.MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit{
                                color:$color-light-grey;
                                padding: 0;
                                width: 2rem !important;
                                justify-content: center;
                                font-family: inherit;
                                span{
                                    width: 97px;
                                }
                                
                            }
                        }
                    span.PrivateTabIndicator-root-1 {
                        background-color: $color-light-orange;
                    }
                    }
                }    
    }
}
